#header {
    text-align: center;
    max-width: 100%;
    height: auto;
    padding-left: 200px;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

#control-panel {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    width: 150px;
    align-items:center;
    max-width: 100%;
    height: 300px;
    float: left;
    padding-left: 20px;
    padding-right: 25px;
    padding-bottom: 30px;
    background-color: rgba(53, 111, 218, 0.7);
    margin-left:100px;
    border-radius: 8px;
}

h4 {
    text-align: center;
    opacity: 1;
}

#sixteen {
    background: darkblue;
    color:darkturquoise;
    border:none;
    border-radius: 2px;
    width: 70px;
    height: auto;
    max-width: 100%;
    padding: 10px 0 10px 0;
}

#thirtytwo {
    background: darkblue;
    color:darkturquoise;
    border:none;
    border-radius: 2px;
    width: 70px;
    height: auto;
    max-width: 100%;
    padding: 10px 0 10px 0;
}

#sixtyfour {
    background: darkblue;
    color:darkturquoise;
    border:none;
    border-radius: 2px;
    width: 70px;
    height: auto;
    max-width: 100%;
    padding: 10px 0 10px 0;
}

#picker {
    border-radius: 50%;
    border: none;
    background: none;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#drawpad {
    max-width: 700px;
    max-height: 700px;
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    border:1px solid black;
    margin: 0 0 0 460px;
    box-sizing: border-box;
    background: white;
    border-color: goldenrod;
   
}

.cell {
    border: none;
    padding: 0;
    text-align: center;
    min-width: 1fr;
    min-height: 1fr;
   
}

.cell:active {
    background: black;
}