#header {
    text-align: center;
    max-width: 100%;
    height: auto;
}

#control-panel {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    width: 100px;
    align-items:center;
    max-width: 100%;
    height: 300px;
    float: left;
}

#sixteen {
    background: darkblue;
    color:darkturquoise;
    border:none;
    border-radius: 2px;
    width: 70px;
    height: auto;
    max-width: 100%;
    padding: 10px 0 10px 0;
}

#thirtytwo {
    background: darkblue;
    color:darkturquoise;
    border:none;
    border-radius: 2px;
    width: 70px;
    height: auto;
    max-width: 100%;
    padding: 10px 0 10px 0;
}

#sixtyfour {
    background: darkblue;
    color:darkturquoise;
    border:none;
    border-radius: 2px;
    width: 70px;
    height: auto;
    max-width: 100%;
    padding: 10px 0 10px 0;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

#drawpad {
    max-width: 700px;
    max-height: 700px;
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    border:1px solid black;
    margin:auto;
    box-sizing: border-box;
    
}

.cell {
    border: none;
    padding: 0;
    text-align: center;
    min-width: 1fr;
    min-height: 1fr;
   
}

.cell:active {
    background: black;
}